html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
font-size: 60px;
text-align: center;
margin: 10;
padding: 20px 0;
color: #00539F;
text-shadow: 3px 3px 1px black; /* horizontal offset, vertical offset, blur radius */
}

p, li {
font-size: 16px;
line-height: 2;
letter-spacing: 1px;
}

html {
    background-color: #00539F;
}

body {
width: 600px;
margin: 0 auto; /* When you set two values on a property like margin or padding, the first value affects the element's top and bottom side 
(setting it to 0 in this case); the second value affects the left and right side. (Here, auto is a special value that divides the 
available horizontal space evenly between left and right). */
background-color: #FF9500;
padding: 0 20px 20px 20px; /* The values set top, right, bottom, left, in that order. */
border: 5px solid black;
}

img {
    width: 500px;
    height: 350px;
    display: block; /* The <body> is a block element, meaning it takes up space on the page. A block element can have margin 
    and other spacing values applied to it. In contrast, images are inline elements. It is not possible to apply margin or spacing values to 
    inline elements. So to apply margins to the image, we must give the image block-level behavior using display: block;.  */
    margin: 0 auto;
}